body{
    background: #F5F5EB;
    font-weight: 900;
    font-size: 1.7rem;
    font-family: "Open Sans", sans-serif;
}

.wrapper{    
    margin: 2rem auto;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-top: 0.1rem solid;
    border-color: #D8DEE3;
}

.radiobox{ 
    visibility: hidden;
    display: none;
}

.headline{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0px;
    color: #0059D9;
}
.accordion:hover .row .headline{
    color:black;
}
.radiobox:checked + .headline{  
    color: black;
}

/* Image */
.img_meme{
    margin: 0px auto;
    width: 0;
    transition: all 0.3s ease-in-out;
}
.row:hover .img_meme{
    width: 50%;
    padding-bottom: 1rem;
}
.radiobox:checked ~ .img_meme{
    width: 50%;
    padding-bottom: 1rem;
}

/* Icons  */
.icon{
    display: none;
    width: 2.4rem;
    transition: all 0.2s ease-in-out;
    background-image: url(images/add_FILL0_wght400_GRAD0_opsz48.svg);
    background-size: cover; 
}
.radiobox:checked + .headline .icon{
    display: block;
    transform: rotate(45deg);
}
.accordion:hover .headline .icon {
    display: block;
}
.row:hover .headline .icon{
    transform: rotate(45deg);
}