@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body{
    background: #F5F5EB;
    font-weight: 900;
    font-size: 1.7rem;
    font-family: "Open Sans", sans-serif;
}

.wrapper{    
    margin: auto;
    width: 70%;    
    display: flex;
    flex-direction: column;
}
.wrapper:hover .headline{
    color:black;
}
.wrapper:hover .icon {
    display: block;
    color:black;
}

.row{
    text-align: center;
    cursor: pointer;
}

.headline{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    border-color: #D8DEE3;
    padding: 10px 0px;    
    color: #0059D9;
}

.image{
    width: 50%;
    margin: 0px auto;
}
.image>img{
    width: 0;
    height: 0;
    transition: all 0.7s ease-in-out;
}

.row:hover .image>img{
    width: 100%;
    height: 100%;
    margin: 10px 0px; 
    transition: all 0.7s ease-in-out;
}

/* Icons  */
.icon{
    display: none;
}

.icon::before {
    color:black;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    content: "\f067";
}

.row:hover .icon::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
}